div{
    border: 1px solid deepskyblue;
    width: 60px;
    height: 30px;
    background-color: deepskyblue;
    text-align: center;
    line-height: 30px;
}
div:hover{
    cursor: pointer;
}
span{
    font-size: 12px;
    color: red;
}
p{
    font-size: 12px;
    color: red;
}