{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>小米商城-永远相信美好的事情即将发生</title>
    <meta name="keyword" content="嗨淘全球,海购,跨境购,代购,进口,跨境电商,海外直邮,化妆品,母婴,奶粉,特卖,免税店,韩流,欧美">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>

    <link rel="shortcut icon" href="{% static 'img/xiaomiicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
    <script src="{% static 'js/jquery-1.12.0.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/basic.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/loop.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

</head>
<body>


<!--头部主体-->
<div class="head_main">
    <!--登录，注册，订单，收藏栏目-->
    <div class="head_main_top">
        <div class="head_main_topM">
            <div class="head_main_topM_left">
                {% if phone %}
                    {{ phone }}
                    <a href="/logout/">退出</a>
                {% else %}
                    <a href="/login/">登录</a>
                    <a href="/register/">免费注册</a>
                {% endif %}
                <a href="#"><img src="{% static 'img/headshouji.png' %}">手机版</a>
            </div>
            <div class="head_main_topM_right">
                <a href="#">我的订单</a>
                <span>|</span>
                <a href="#">我的优惠券</a>
                <span>|</span>
                <a href="#">我的收藏</a>
                <span>|</span>
                <a href="#">帮助中心</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--搜索栏-->
    <div class="head_main_middle">
        <div class="head_main_middleM">
            <div class="head_main_middleM_left">
                <a href="#"><img src="{% static 'img/xiaomilogo.png' %}"></a>

            </div>
            <div class="head_main_middleM_right">
                <input type="text" id="input1" placeholder="搜索商品"><input type="button" id="input2" value="搜索">
                <div class="head_main_middleM_rightM">
                    <a href="#">面霜</a><a href="#">|面膜</a><a href="#">|洁面</a><a href="#">|奶粉</a><a href="#">|纸尿裤</a><a
                        href="#">|辅食</a><a href="#">|宝宝营养</a><a href="#">|唇部彩妆</a><a href="#">|身体护理</a><a
                        href="#">|香氛</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--导航栏-->
    <div class="head_main_bottom">
        <div class="head_main_bottomM">
            <div class="head_main_bottomM_left">
                <span><a href="#">首页</a></span><span><a href="#">全球特卖</a></span>
            </div>
            <div class="head_main_bottomM_right">
                <span><img src="{% static 'img/xiala.png' %}"></span>
                <span>查看分类</span>
            </div>
        </div>
    </div>
</div>
<!--主要内容-->
<div class="concent">
    <!--轮播栏-->
    <div class="concent_top">
        <div class="concent_topM">
            <!--下拉列表-->
            <ul>
                <li>面部护理</li>
                <li>个人护理</li>
                <li>时尚彩妆</li>
                <li>香薰精油</li>
                <li>婴幼儿</li>
                <li>孕产妇</li>
                <li>营养保健</li>
                <li>荷兰直邮</li>
            </ul>
            <!--下拉列表右栏-->
            <div class="assortment_f">
                <div class="assortment">
                    <h3>洁面</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">洁面膏/霜</a>
                        <a href="#">洁肤皂</a>
                        <a href="#">洁面摩丝/泡沫</a>
                        <a href="#">洁面啫喱/胶</a>
                        <a href="#">洁面乳</a>
                        <a href="#">面部去角质</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>爽肤水/化妆水</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">爽肤水</a>
                        <a href="#">美容液</a>
                        <a href="#">喷雾</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>面膜</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">面膜帖</a>
                        <a href="#">免洗面膜</a>
                        <a href="#">水洗面膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>乳液/面霜</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">乳液</a>
                        <a href="#">面霜</a>
                        <a href="#">日霜</a>
                        <a href="#">晚霜</a>
                        <a href="#">凝露/凝胶/啫喱</a>
                        <a href="#">防晒/修复</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>眼部/T区/唇部护理</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">眼罩</a>
                        <a href="#">眼霜</a>
                        <a href="#">眼部精华</a>
                        <a href="#">眼膜</a>
                        <a href="#">鼻膜</a>
                        <a href="#">护唇膏</a>
                        <a href="#">唇膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>精华</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">精华液/露</a>
                        <a href="#">精华乳/霜</a>
                        <a href="#">原液</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>护肤套装</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">护肤套装</a>
                        <a href="#">套装小样</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>男士护肤</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">洁面</a>
                        <a href="#">乳液/面霜</a>
                        <a href="#">爽肤水</a>
                        <a href="#">精华</a>
                        <a href="#">面膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>直邮活动商品专区</h3>
                    <div class="assortmentM">
                        <hr>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>个人洗护</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">洗发</a>
                        <a href="#">护发</a>
                        <a href="#">洗护套餐</a>
                        <a href="#">沐浴露</a>
                        <a href="#">香皂</a>
                        <a href="#">美发造型</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>身体护理</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">喷雾</a>
                        <a href="#">身体乳/精华</a>
                        <a href="#">毛周去角质</a>
                        <a href="#">颈部护理</a>
                        <a href="#">塑身</a>
                        <a href="#">丰胸</a>
                        <a href="#">香体液</a>
                        <a href="#">手霜/手膜</a>
                        <a href="#">足部霜/足膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>美发工具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">美发质</a>
                    </div>
                </div>

                <div class="assortment">
                    <h3>女性用品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">卫生巾</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>底妆遮瑕</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">遮瑕/修颜</a>
                        <a href="#">BB霜/CC霜</a>
                        <a href="#">隔离霜/妆前乳</a>
                        <a href="#">粉饼</a>
                        <a href="#">腮红/胭脂</a>
                        <a href="#">蜜粉/散粉</a>
                        <a href="#">粉底液/膏</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>眼部彩妆</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">眼线膏/液</a>
                        <a href="#">染眉膏</a>
                        <a href="#">睫毛膏</a>
                        <a href="#">眼线笔</a>
                        <a href="#">眼影</a>
                        <a href="#">眉笔/眉粉</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>卸妆</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">卸妆液</a>
                        <a href="#">卸妆油</a>
                        <a href="#">卸妆膏</a>
                    </div>
                </div>

                <div class="assortment">
                    <h3>唇部彩妆</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">唇膏/口红</a>
                        <a href="#">唇彩/唇蜜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>彩妆工具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">化妆刷</a>
                        <a href="#">化妆棉/卸妆棉</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>彩妆套餐</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">彩妆盒</a>
                        <a href="#">彩妆套餐</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>香水</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">男士香水</a>
                        <a href="#">女士香水</a>
                        <a href="#">中性香水</a>
                        <a href="#">套装香水</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>奶粉</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">1段</a>
                        <a href="#">1+段</a>
                        <a href="#">2段</a>
                        <a href="#">2+段</a>
                        <a href="#">3段</a>
                        <a href="#">4段</a>
                        <a href="#">5段</a>
                        <a href="#">6段</a>
                        <a href="#">特殊配方奶粉</a>
                        <a href="#">pre段</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝辅食</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">米粉</a>
                        <a href="#">饼干</a>
                        <a href="#">泡芙</a>
                        <a href="#">果蔬肉泥</a>
                        <a href="#">果汁</a>
                        <a href="#">零食</a>
                        <a href="#">饮料</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>纸尿裤</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">新生儿</a>
                        <a href="#">S</a>
                        <a href="#">M</a>
                        <a href="#">L</a>
                        <a href="#">XL</a>
                        <a href="#">XXL</a>
                        <a href="#">拉拉裤</a>
                        <a href="#">婴儿湿巾</a>
                        <a href="#">尿垫</a>

                    </div>
                </div>

                <div class="assortment">
                    <h3>喂养工具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">奶瓶/奶嘴</a>
                        <a href="#">水杯餐具</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>日用洗护</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">护肤</a>
                        <a href="#">洗发沐浴</a>
                        <a href="#">驱蚊防虫</a>
                        <a href="#">爽身祛痱</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝营养</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">DNA</a>
                        <a href="#">维生素</a>
                        <a href="#">钙镁锌铁</a>
                        <a href="#">益生菌</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝出行</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">安全坐骑</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>孕妈用品/妈妈用品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">卫生巾/护垫</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>孕妈营养</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">DNA</a>
                        <a href="#">维生素</a>
                        <a href="#">钙镁锌铁</a>
                        <a href="#">叶酸</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>母婴其他用品</h3>
                    <div class="assortmentM">
                        <hr>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>植物精华/提取物</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">蔓越莓</a>
                        <a href="#">葡萄籽</a>
                        <a href="#">月见草</a>
                        <a href="#">越橘/蓝莓提取物</a>
                        <a href="#">茶多酚/茶族</a>
                        <a href="#">吗啡提取物</a>
                        <a href="#">蓟类</a>
                        <a href="#">其他植物提取物</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>维生素/矿物质</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">维生素</a>
                        <a href="#">左旋肉碱</a>
                        <a href="#">其他维生素/矿物</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>膳食纤维/碳水化合物</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">酵素</a>
                    </div>
                </div>

                <div class="assortment">
                    <h3>蛋白质/氨基酸</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">胶原蛋白质</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>其他营养补充品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">蜂产品</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>护肤</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">面霜</a>
                        <a href="#">防晒修复</a>
                        <a href="#">爽肤水/化妆水</a>
                        <a href="#">卸妆</a>
                        <a href="#">男士护肤</a>
                        <a href="#">唇膏</a>
                        <a href="#">洁面</a>
                        <a href="#">面膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>个人洗护</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">沐浴露</a>
                        <a href="#">身体乳</a>
                        <a href="#">洗发</a>
                        <a href="#">护发</a>
                        <a href="#">个护套餐</a>
                        <a href="#">磨砂</a>
                        <a href="#">香体液/止汗露</a>
                        <a href="#">牙膏</a>
                        <a href="#">手部护理</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>彩妆香瓶</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">香水</a>
                    </div>
                </div>

                <div class="assortment">
                    <h3>奶粉</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">婴幼儿奶粉</a>
                        <a href="#">成人奶粉</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>辅食</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">饼干</a>
                        <a href="#">米糊米粉</a>
                        <a href="#">果泥</a>
                        <a href="#">果汁饮料</a>
                        <a href="#">男士护肤</a>
                        <a href="#">唇膏</a>
                        <a href="#">洁面</a>
                        <a href="#">面膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>喂养工具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">奶瓶/奶嘴</a>
                        <a href="#">餐具</a>
                        <a href="#">果泥</a>
                        <a href="#">卸妆</a>
                        <a href="#">果汁饮料</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝营养/生病护理</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">肠绞痛缓解滴剂</a>
                        <a href="#">维生素</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝日常护理</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">包巾/纱巾/浴巾</a>
                        <a href="#">日用洗护</a>
                        <a href="#">面霜</a>
                        <a href="#">驱蚊防虫</a>
                        <a href="#">婴儿湿巾</a>
                        <a href="#">牙刷</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝用品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">监视器</a>
                        <a href="#">相册</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>滋补保健</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">蜂产品</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>饮品/酒品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">茶</a>
                        <a href="#">咖啡</a>
                        <a href="#">酒</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>厨房/餐饮用具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">锅具</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>食品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">果酱/调味品</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>
            <div class="assortment_f">
                <div class="assortment">
                    <h3>护肤</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">面霜</a>
                        <a href="#">防晒修复</a>
                        <a href="#">爽肤水/化妆水</a>
                        <a href="#">卸妆</a>
                        <a href="#">男士护肤</a>
                        <a href="#">唇膏</a>
                        <a href="#">洁面</a>
                        <a href="#">面膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>个人洗护</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">沐浴露</a>
                        <a href="#">身体乳</a>
                        <a href="#">洗发</a>
                        <a href="#">护发</a>
                        <a href="#">个护套餐</a>
                        <a href="#">磨砂</a>
                        <a href="#">香体液/止汗露</a>
                        <a href="#">牙膏</a>
                        <a href="#">手部护理</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>彩妆香瓶</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">香水</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>奶粉</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">婴幼儿奶粉</a>
                        <a href="#">成人奶粉</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>辅食</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">饼干</a>
                        <a href="#">米糊米粉</a>
                        <a href="#">果泥</a>
                        <a href="#">果汁饮料</a>
                        <a href="#">男士护肤</a>
                        <a href="#">唇膏</a>
                        <a href="#">洁面</a>
                        <a href="#">面膜</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>喂养工具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">奶瓶/奶嘴</a>
                        <a href="#">餐具</a>
                        <a href="#">果泥</a>
                        <a href="#">卸妆</a>
                        <a href="#">果汁饮料</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝营养/生病护理</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">肠绞痛缓解滴剂</a>
                        <a href="#">维生素</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝日常护理</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">包巾/纱巾/浴巾</a>
                        <a href="#">日用洗护</a>
                        <a href="#">面霜</a>
                        <a href="#">驱蚊防虫</a>
                        <a href="#">婴儿湿巾</a>
                        <a href="#">牙刷</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>宝宝用品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">监视器</a>
                        <a href="#">相册</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>滋补保健</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">蜂产品</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>饮品/酒品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">茶</a>
                        <a href="#">咖啡</a>
                        <a href="#">酒</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>厨房/餐饮用具</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">锅具</a>
                    </div>
                </div>
                <div class="assortment">
                    <h3>食品</h3>
                    <div class="assortmentM">
                        <hr>
                        <a href="#">果酱/调味品</a>
                    </div>
                </div>
                <button>查看全部品牌&gt;</button>
            </div>


            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% for wheel in wheels %}
                        <div class="swiper-slide"><img class="img" src="{{ wheel.img }}" alt=""></div>
                    {% endfor %}

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>


        </div>
    </div>

    <div class="hot_top">
        <div class="hot_topM">
            <a href="#"><img src="{% static 'img/banner0.png' %}"></a>
            <a href="#"><img src="{% static 'img/banner1.png' %}"></a>
            <a href="#"><img src="{% static 'img/banner2.png' %}"></a>
            <a href="#"><img src="{% static 'img/banner3.png' %}"></a>
        </div>
    </div>
    <div class="hot_middle">
        <div class="hot_middleM">
            <div class="hot_middleM_head">
                <img src="{% static 'img/sale.png' %}">
            </div>
            <div class="hot_middleM_main">
                <div class="hot_middleM_main_left">
                    <a href="#"><img src="{% static 'img/hot_top.png' %}"></a>
                </div>
                <div class="hot_middleM_main_right">
                    <a href="#"><img src="{% static 'img/hot_top0.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_top1.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_top2.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_top3.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_top4.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_top5.jpg' %}"></a>
                </div>
                <div class="clear">

                </div>
            </div>
        </div>
    </div>
    <div class="hot_bottom">
        <div class="hot_bottomM">
            <div class="hot_bottomM_head">
                <img src="{% static 'img/sale1.png' %}">
            </div>
            <div class="hot_bottomM_main">
                <div class="hot_bottomM_main_left">
                    <a href="#"><img src="{% static 'img/hot_bottom.png' %}"></a>
                </div>
                <div class="hot_bottomM_main_right">
                    <a href="#"><img src="{% static 'img/hot_bottom0.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_bottom1.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_bottom2.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/hot_bottom3.jpg' %}"></a>
                </div>
                <div class="clear">

                </div>
            </div>
        </div>
    </div>
</div>
<!--列表-->
<div class="list">
    <div class="listM">
        <div class="listM_left">
            <div class="listM_left_head">
                <img src="{% static 'img/list.png' %}">
                <a href="#">查看更多&nbsp;&gt;</a>
            </div>
        </div>
        <div class="list_left">
            <div class="list_left_top">
                <img src="{% static 'img/hot_top.png' %}" alt="">
                {% for computer in computers %}
                    <a href="{% url 'lcc:detail' computer.id%}"><img class="img" src="{{ computer.img }}" alt=""></a>
                {% endfor %}

            </div>
            <div class="list_left_bottom">
                <a href="#"><img class="img" src="{% static 'img/hot_bottom.png' %}" alt=""></a>
                <a href="#"><img class="img" src="{% static 'img/hot_bottom0.jpg' %}" alt=""></a>
                <a href="#"><img class="img" src="{% static 'img/hot_bottom1.jpg' %}" alt=""></a>
            </div>
        </div>
        <div class="listM_right">
            <div class="listM_right_top">
                <h2>------------&nbsp;&nbsp;热销品牌&nbsp;&nbsp;------------</h2>
                <div class="listM_right_top_img">
                    <a href="#"><img src="{% static 'img/sidebar0.jpg' %}">
                        <p>Lancome/兰蔻</p></a>
                    <a href="#"><img src="{% static 'img/sidebar1.jpg' %}">
                        <p>倩碧</p></a>
                    <a href="#"><img src="{% static 'img/sidebar2.jpg' %}">
                        <p>Origins/悦木之源</p></a>
                    <a href="#"><img src="{% static 'img/sidebar3.jpg' %}">
                        <p>箭牌</p></a>
                    <a href="#"><img src="{% static 'img/sidebar4.jpg' %}">
                        <p>施华蔻</p></a>
                    <a href="#"><img src="{% static 'img/sidebar5.jpg' %}">
                        <p>za</p></a>
                    <a href="#"><img src="{% static 'img/sidebar6.jpg' %}">
                        <p>innisfree/悦诗风吟</p></a>
                    <a href="#"><img src="{% static 'img/sidebar7.jpg' %}">
                        <p>梦妆</p></a>
                    <a href="#"><img src="{% static 'img/sidebar8.jpg' %}">
                        <p>Dr.g</p></a>
                    <a href="#"><img src="{% static 'img/sidebar9.jpg' %}">
                        <p>Aveeno/艾维诺</p></a>
                    <a href="#"><img src="{% static 'img/sidebar10.jpg' %}">
                        <p>新安怡</p></a>
                    <a href="#"><img src="{% static 'img/sidebar11.jpg' %}">
                        <p>boon</p></a>
                    <div class="clear">

                    </div>
                </div>
            </div>
            <div class="listM_right_bottom">
                <h2>------------&nbsp;&nbsp;精选专题&nbsp;&nbsp;------------</h2>
                <div class="listM_right_bottom_img">
                    <a href="#"><img src="{% static 'img/sidebar_choice0.jpg' %}"></a>
                    <a href="#"><img src="{% static 'img/sidebar_choice1.jpg' %}"></a>
                </div>

            </div>
        </div>
        <div class="clear">

        </div>
    </div>
</div>
<!--尾部-->
<div class="foot">
    <div class="foot_top">
        <div class="foot_topM">
            <div class="foot_topM_left">
                <dl>
                    <dt>新手指南</dt>
                    <a href="#">
                        <dd>购物流程</dd>
                    </a>
                    <a href="#">
                        <dd>购物须知</dd>
                    </a>
                    <a href="#">
                        <dd>联系客服</dd>
                    </a>
                    <a href="#">
                        <dd>常见问题</dd>
                    </a>
                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <a href="#">
                        <dd>第三方平台支付</dd>
                    </a>
                    <a href="#">
                        <dd>优惠券使用</dd>
                    </a>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <a href="#">
                        <dd>退款政策</dd>
                    </a>
                    <a href="#">
                        <dd>退款流程</dd>
                    </a>
                    <a href="#">
                        <dd>退款说明</dd>
                    </a>
                </dl>
                <dl>
                    <dt>商品配送</dt>
                    <a href="#">
                        <dd>运费说明</dd>
                    </a>
                    <a href="#">
                        <dd>配送范围</dd>
                    </a>
                    <a href="#">
                        <dd>发货说明</dd>
                    </a>
                    <a href="#">
                        <dd>物流查询</dd>
                    </a>
                </dl>
                <dl>
                    <dt>品牌保证</dt>
                    <a href="#">
                        <dd>官方授权</dd>
                    </a>
                    <a href="#">
                        <dd>海关监管</dd>
                    </a>
                    <a href="#">
                        <dd>免税包邮</dd>
                    </a>
                    <a href="#">
                        <dd>售后无忧</dd>
                    </a>
                </dl>
                <dl>
                    <dt>手机嗨淘全球</dt>
                    <dd class="last_dd"><img src="{% static 'img/foot.png' %}"></dd>
                </dl>
                <div class="clear">

                </div>
            </div>
        </div>
    </div>
    <div class="foot_middle">
        <div class="foot_middleM">
            <div class="foot_middleM_left">
                <span><img src="{% static 'img/dianhua.png' %}"></span>
                <span>4008-006-006</span>
            </div>
            <div class="foot_middleM_right">
                <ul>
                    <li><a href="#">公司简介</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">大事记</a></li>
                    <li><a href="#">人才招募</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">法律说明</a></li>
                    <li><a href="#">合作专区</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul>
            </div>
            <div class="clear">

            </div>
        </div>
    </div>
    <div class="foot_bottom">
        <div class="foot_bottomM">
            <div class="foot_bottomM_top">
                <p>Copyright © 2010 - 2016, 版权所有 HITAO.TOP 湘ICP备10012668号-3 嗨淘全球网　|　<a href="#">营业执照</a></p>
            </div>
            <div class="foot_bottomM_right">
                <a href="#"><img src="{% static 'img/foot0.png' %}"></a>
                <a href="#"><img src="{% static 'img/foot1.png' %}"></a>
                <a href="#"><img src="{% static 'img/foot2.png' %}"></a>
                <a href="#"><img src="{% static 'img/foot3.png' %}"></a>
                <a href="#"><img src="{% static 'img/foot4.png' %}"></a>
            </div>
        </div>
    </div>
</div>
<!--右边侧栏-->
<div class="nav">
    <ul>
        <li><img class="kefu" src="{% static 'img/nav0.png' %}"><img src="{% static 'img/right11.jpg' %}"></li>
        <li class="li_p"><a href="shoppingCart.html"><img class="cart" src="{% static 'img/right20.jpg' %}"></a>
            <p>0</p></li>
        <li><img class="kefu" src="{% static 'img/nav1.png' %}"><img src="{% static 'img/right30.jpg' %}"></li>
        <li><img class="kefu" src="{% static 'img/nav2.png' %}"><img src="{% static 'img/right40.jpg' %}"></li>
    </ul>
    <ul>
        <li><img class="kefu" src="{% static 'img/nav4.png' %}"><img src="{% static 'img/right50.jpg' %}"></li>
        <li><img class="img_last" src="{% static 'img/right60.jpg' %}"></li>
    </ul>
</div>
<script src="{% static 'js/loop.js' %}"></script>

</body>
</html>
