{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嗨淘全球购登录页面</title>
    <script src="{% static 'js/jquery-1.12.0.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/login.js'%}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <form action="{% url 'lcc:login' %}" method="post">
        {% csrf_token %}
        手机号：<input id="phone" type="text" name="phone" placeholder="请输入手机号" maxlength="11">
        <span style="color: red;font-size: 12px"></span>
        <p></p>
        密码：<input type="password" name="password" placeholder="请输入密码" maxlength="20">
        <p style="color: red">
        {% if err %}
            {{ err }}
        {% endif %}</p>
        <input type="submit" value="登录">

    </form>
</body>
</html>