{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小米商城 - 购物车</title>
        <link rel="shortcut icon" href="{% static 'img/xiaomiicon.png' %}"/>
		<script src="{% static 'js/jquery-1.12.0.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/basic.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/shoppingCart.js' %}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/shoppingCart.css' %}"/>
	</head>
	<body>
		<!--头部主体-->
		<div class="head_main"> 
			<!--登录，注册，订单，收藏栏目-->
			<div class="head_main_top">
				<div class="head_main_topM">
					<div class="head_main_topM_left">
						{% if user %}
                            <img id="indeximg" src="{{ user.img }}" alt="">
                            <a href="/logout/">退出</a>
                        {% else %}
                            <a href="/login/">登录</a>
                            <a href="/register/">免费注册</a>
                        {% endif %}
					</div>
					<div class="head_main_topM_right">
						<a href="#">我的订单</a>
						<span>|</span>
						<a href="#">我的购物车</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!--搜索栏-->
			<div class="head_main_middle">
				<div class="head_main_middleM">
					<div class="head_main_middleM_left">
						<a href="{% url 'lcc:index' %}"><img src="{% static 'img/xiaomilogo.png' %}"/></a>

					</div>
					<div class="head_main_middleM_right">
						<input type="text"id="input1" placeholder="搜索商品"/><input type="button"  id="input2" value="搜索" />
						<div class="head_main_middleM_rightM">
							<a href="#">面霜</a><a href="#">|面膜</a><a href="#">|洁面</a><a href="#">|奶粉</a><a href="#">|纸尿裤</a><a href="#">|辅食</a><a href="#">|宝宝营养</a><a href="#">|唇部彩妆</a><a href="#">|身体护理</a><a href="#">|香氛</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="ware">
			<div class="wareM">
				<div class="wareM1">
					<img src="{% static 'img/zhuangtai.png' %}"/>
					<span>1.购物袋</span>
					<span>2.确认订单信息</span>
					<span>3.付款</span>
				</div>
				<div class="wareM2">
					<div class="wareM2_left">
						<input type="checkbox"  id="quanxuan" checked/>
						<b>全选</b>
					</div>
					<span class="one">商品</span>
					<span class="twe">单价</span>
					<span class="three">数量</span>
					<span class="three">小计</span>
					<span class="three">操作</span>
				</div>
				<!--加载-->
                <div class="detailcart">
                    {% if carts %}
                        {% for cart in carts %}

                            <div class="onegoods">
                                <div class="leftbox"><input type="checkbox"  class="danxuan" value="{{ cart.computers.id }}" checked/></div>
                                <div class="product">
                                    <div class="picture"><img src="{{ cart.computers.img1 }}" alt=""></div>
                                    <div class="infomation"><p>{{ cart.computers.title }}</p></div>
                                </div>
                                <div class="price">{{ cart.computers.price }}</div>
                                <div class="number"><span>{{ cart.number }}</span></div>
                                <div class="subtotal"></div>
                                <div class="options"><p>删除</p></div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <p>购物车空空如也，快去选购商品吧亲！<a href="/#list">去选购</a></p>
                    {% endif %}
                </div>
				<!--加载结束-->
				<div class="clear">
					
				</div>

				<div class="wareM6">

					<div class="wareM6_right">
						<button>去结算</button>
						<div class="wareM6_right_p">
							<p>已选<span class="selectnum"></span>件商品，合计（不含运费及税费）<em>￥</em><span class="s1"></span></p>
						</div>
						<div class="clear">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--尾部-->
		<div class="foot">
			<div class="foot_middle">
				<div class="foot_middleM">
					<div class="foot_middleM_left">
						<span><img src="{% static 'img/dianhua.png' %}"/></span>
						<span>4008-006-006</span>
					</div>
					<div class="foot_middleM_right">
						<ul>
							<li><a href="#">公司简介</a></li>
							<li><a href="#">联系我们</a></li>
							<li><a href="#">大事记</a></li>
							<li><a href="#">人才招募</a></li>
							<li><a href="#">帮助中心</a></li>
							<li><a href="#">法律说明</a></li>
							<li><a href="#">合作专区</a></li>
							<li><a href="#">友情链接</a></li>
						</ul>
					</div>
					<div class="clear">
						
					</div>
				</div>
			</div>
			<div class="foot_bottom">
				<div class="foot_bottomM">
					<div class="foot_bottomM_top">
						<p>Copyright © 2010 - 2016, 版权所有 HITAO.TOP    湘ICP备10012668号-3  嗨淘全球网　|　<a href="#">营业执照</a></p>
					</div>
					<div class="foot_bottomM_right">
						<a href="#"><img src="{% static 'img/foot0.png' %}"/></a>
						<a href="#"><img src="{% static 'img/foot1.png' %}"/></a>
						<a href="#"><img src="{% static 'img/foot2.png' %}"/></a>
						<a href="#"><img src="{% static 'img/foot3.png' %}"/></a>
						<a href="#"><img src="{% static 'img/foot4.png' %}"/></a>
					</div>
				</div>
			</div>
		</div>
		<!--右边侧栏-->

	</body>
</html>
